<div class="container edit-container">
  <h1>投稿を編集する</h1>
    <%= form_with url: post_path(@post), :method => :patch do |f| %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <%= image_tag @post.image_url %>
          <%= f.hidden_field :image_cache %><br>
          <%= f.text_area :content, value: @post.content, class: "introduction-text" %><br>

          <%= f.label "投稿するペット" %><br>
          <% @pets.each do |pet| %>
            <%= f.radio_button :pet_id, pet.id %><%= pet.name %><br>
          <% end %>
          
          <%= f.submit "保存", class: "submit-btn" %>
        </div>
      </div>
    <% end %>
</div>