<div class="container edit-container">
  <h1>編集する</h1>
  <%= form_with model: [@user, @management], local: true do |f| %>
    <div class="form">
      <div class="form-body">
        <% @management.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= f.label "ペット " %><span>必須</span><br>
        <% @pets.each do |pet| %>
          <%= f.radio_button :pet_id, pet.id %><%= pet.name %><br><br>
        <% end %>

        <%= f.label "タイトル（10字まで） " %><span>必須</span><br>
        <%= f.text_field :title, value: @management.title %><br><br>

        <%= f.label "予定日時 " %><span>必須</span><br>
        <%= f.datetime_select :start_time %><i>~</i>
        <%= f.time_select :end_time %><br><br>

        <%= f.label "内容(メモなど)（150字まで）" %><br>
        <%= f.text_area :content, value: @management.content %><br><br>

        <%= f.submit "編集する", class: "submit-btn" %>
      </div>
    </div>
  <% end %>
  <div class="management-show-btn">
    <%= link_to '戻る', user_managements_path %>
  </div>
</div>