<div class="container management-container">
  <% breadcrumb :mymanagement_category %>
  <%= render "layouts/breadcrumbs" %>

  <h1>ペット管理</h1>
  <div class="management-btn">
    <%= link_to new_user_management_path(current_user.id) do %>
      <span class="material-icons add-icon">add</span><span>予定の追加</span>
    <% end %>
  </div>

  <div class="month-calendar">
    <h2>カレンダー</h2>
    <%= month_calendar events: @managements, end_attribute: :start_time do |date, managements| %>
      <%= date.day %>
      <div class="calendar-day-box">
        <% managements.each do |management| %>
          <% @pet = Pet.find_by(id: management.pet_id) %>
          <div class="calendar-title-box">
            <%= link_to user_management_path(current_user.id, management.id) do %>
              <%= @pet.name %>
              <div>
                <%= management.title %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <br>

  <div class="management-table">
    <h2>予定一覧</h2>
    <table>
      <thead>
        <tr>
          <th>ペット</th>
          <th>タイトル</th>
          <th>予定日時</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @managements.each do |management| %>
          <% @pet = Pet.find_by(id: management.pet_id) %>
          <tr>
            <td><%= @pet.name %></td>
            <td><%= link_to management.title, user_management_path(current_user.id, management.id) %></td>
            <td>
              <%= link_to user_management_path(current_user.id, management.id) do %>
                <%= management.start_time.strftime("%Y年%m月%d日 %H:%M~") %>
                <%= management.end_time.strftime("%H:%M") %>
              <% end %>
            </td>
            <td>
              <%= link_to '編集', edit_user_management_path(current_user.id, management.id) %>
              <%= link_to '削除', user_management_path(current_user.id, management.id), method: :delete, data: { confirm: '削除してもよろしいですか?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>